{% extends 'my_company/base_profile.html' %}
{% block content %}
{% csrf_token %}
<!-- Tab -->
        <section class="tab-pane fade show active">
          <h2 class="h4 pt-2 pb-3">Информация о компании</h2>
            <form action="{% url 'my_company' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="row">
                    {% for key, value in model.items %}
                    {% if key != 'Логотип' and key != 'Информация о компании'%}
                    <div class="col-12 col-md-6">
                        <div class="form-group pb-2">
                            <label class="mb-2 text-dark" for="companyName">{{ key }}</label>
                            <input class="form-control" type="text" name='{{ key }}' value="{{ value }}" id="companyName">
                        </div>
                    </div>
                    {% elif key == 'Логотип' %}
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label class="mb-2 text-dark" >Логотип</label>
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <img src="https://place-hold.it/120x40" alt="" style="max-width: 120px;height: auto;">
                                </div>
                                <div class="col-6" style="position: relative;">
                                    <div class="input-group-prepend" style="position: absolute; top: 0;right: 15px;">
                                        <span class="btn btn-info px-4">Загрузить</span>
                                    </div>
                                    <div class="custom-file" style="">
                                        <input type="file" class="custom-file-input" name="{{ key }}" id="inputGroupFile01">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif key == 'Информация о компании' %}
                    <div class="form-group col-12 ">
                        <label class="mb-12 text-dark" for="companyInfo">{{ key }}</label>
                        <textarea class="form-control" rows="4" name="{{ key }}" id="companyInfo" style="color:#000;">{{ value }}</textarea>
                    </div>
                    {% endif %}
                    {% endfor %}

                    {% if info %}
                    <p class="alert alert-info col-12" role="alert">
                        {{ info }}
                    </p>
                    {% else %}
                    <div class="form-group col-12">
                        <input type="submit" class="btn btn-info" value="Сохранить">
                    </div>
                    {% endif %}
            </form>
        </section>
<!-- END Tab -->
{% endblock %}
